<div>
  <div class="card" [hidden]="!submitted">
    <h4>You submitted the following:</h4>
    <hr/>
    <div class="card-body">
      <div class="row">
        <div class="col-xs-2">Name</div>
        <div class="col-xs-9  pull-left">{{ enteredUser.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-2">Email</div>
        <div class="col-xs-9 pull-left">{{ enteredUser.email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-2">Phone</div>
        <div class="col-xs-9 pull-left">{{ enteredUser.phoneNumber }}</div>
      </div>
    </div>
    <a rel="User" [routerLink]="'/userView'" >Click here to see newly added User</a>
  </div>

  <form [hidden]="submitted" (ngSubmit)="addUser()" #userForm="ngForm" action="#" name="user-form"
        class="form-horizontal" style="width:50%; margin-left:28em; padding: 1em;">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control" [(ngModel)]="enteredUser.name" placeholder="name" name="username" required>
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input class="form-control" [(ngModel)]="enteredUser.email" placeholder="email" name="email">
    </div>

    <div class="form-group">
      <label for="name">Phone</label>
      <input class="form-control" [(ngModel)]="enteredUser.phoneNumber" placeholder="Phone" name="Phone">
    </div>

   <!-- <div class="row">
      date:&nbsp;&nbsp;
      <ng2-flatpickr  name="dateInput" [ngModel]="enteredUser.birthday"></ng2-flatpickr>
    </div>-->

    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
  </form>
</div>


